{% extends 'userside/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Add New Address</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Full Name</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="house_name" class="col-sm-2 col-form-label">House Name</label>
            <div class="col-sm-10">
                {{ form.house_name }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="street_name" class="col-sm-2 col-form-label">Street Name</label>
            <div class="col-sm-10">
                {{ form.street_name }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="pin_number" class="col-sm-2 col-form-label">PIN Code</label>
            <div class="col-sm-10">
                {{ form.pin_number }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="district" class="col-sm-2 col-form-label">District</label>
            <div class="col-sm-10">
                {{ form.district }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="state" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-10">
                {{ form.state }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="country" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
                {{ form.country }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="phone_number" class="col-sm-2 col-form-label">Phone Number</label>
            <div class="col-sm-10">
                {{ form.phone_number }}
            </div>
        </div>

        <div class="mb-3 row">
            <label for="is_default" class="col-sm-2 col-form-label">Set as Default</label>
            <div class="col-sm-10">
                {{ form.is_default }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add Address</button>
        </div>
    </form>
</div>
{% endblock %}
