{% extends "adminside/base.html" %}
{% load static %}

{% block title %}
<title>Update Order Status</title>
{% endblock title %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="content-title card-title mb-0">Update Order Status</h2>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {% if messages %}
                <div class="alert alert-info">
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form method="POST" class="form-horizontal">
                {% csrf_token %}
                
                <div class="mb-4">
                    <label for="status" class="form-label fw-bold">Order Status</label>
                    <select name="status" id="status" class="form-select">
                        {% for key, value in status_choices %}
                            <option value="{{ key }}" {% if order.order_status == key %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}

                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary px-4">Update Status</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}  


